body {
  color:black;
  margin: 2%
}
.button {
  color:blue;
  background-color: white;
  border: 2px solid blue;
  border-radius: 20px;
}

/* Nav Bar */
.navBar{
  background-color: aqua;
  color:azure;
  position: fixed;
  margin-top: 0;
  display: flex;
  flex-direction: row-reverse;
}

.navLink{
  background-color: aqua;
  color:azure;
  font-size: 1.5rem;
  border-radius: 20px;
  border: 1px solid azure
}

.navlink:hover{
  color:aqua;
  background-color: azure;
  border:1px solid aqua;
}

.appName{
  font-size: 2.2rem;
  color: burlywood;
  text-decoration: overline;
}

.userName {
  color:red;
  font-size: 1rem;
}

.taskList {
  color: green;
}



/* Post Styling */
postTitle, postTitle a{
  font-size: 2rem;
}

postContent{
  font-size: 1rem;
}


/* Form Styling */
.formLabel{
  color:blue
}

.formError{
  color:red
}

.formContent{
  color:green
}

.submitButton {
  color:white;
  background-color: green;
  border-radius: 20px;
  border: 1px solid forestgreen;
}

/*log in form unigue fields*/
.forgotPassword{
  color:black;
  font-size: 1rem;;
}

.forgotPassword a{
  color: blue;
  text-decoration: underline;
}

.signUp{
  font-size: 1rem;
}

.alreadySignedUp{
  font-size: 1rem;
  color:blueviolet
}
.alreadySignedUp{
  color:blue;
  text-decoration: underline;
}

/* Profile page */
.welcomeMessage{
  color:black;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}
.taskList{
  background-color: yellow;
  color:red
}