body {
  color:black;
  margin-left: 2%;
  margin-right: 2%;
}
.button {
  color:blue;
  background-color: white;
  border: 2px solid blue;
  border-radius: 20px;
}

/* Nav Bar */
.navBar{
  background-color: rgb(70, 130, 180, 75%);
  width: 95%;
  height: 5%;
  top: 0px;
  margin: 0 2.5% 2.5% 2.5%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  position: fixed;
  z-index:100;
  flex-direction: row-reverse;
  align-items: center;
}

.navBar ul{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color:white;
  text-decoration: none;
}

.navBar li, .narBar li a {
  list-style: none;
  color:white;
  text-decoration: none;
  margin-right: 1%;
}

.navBar li a:hover{
  color:purple;
  background-color: azure;
}

.appName{
  font-size: 2.2rem;
  color: burlywood;
  text-decoration: overline;
}

.userName {
  color:red;
  font-size: 1rem;
}

.taskList {
  color: green;
}



/* Post Styling */
postTitle, postTitle a{
  font-size: 2rem;
}

postContent{
  font-size: 1rem;
}


/* Form Styling */
.formLabel{
  color:blue
}

.formError{
  color:red
}

.formContent{
  color:green
}

.submitButton {
  color:white;
  background-color: green;
  border-radius: 20px;
  border: 1px solid forestgreen;
}

/*log in form unigue fields*/
.forgotPassword{
  color:black;
  font-size: 1rem;;
}

.forgotPassword a{
  color: blue;
  text-decoration: underline;
}

.signUp{
  font-size: 1rem;
}

.alreadySignedUp{
  font-size: 1rem;
  color:blueviolet
}
.alreadySignedUp{
  color:blue;
  text-decoration: underline;
}

/* Profile page */
.welcomeMessage{
  color:black;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}
.taskList{
  background-color: yellow;
  color:red
}