{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>
<form method="POST" >
    <form method="POST" action="">
        {{ form.csrf_token() }}
        <fieldset class="form-group">
            <legend>{{ legend }}</legend>

            <div class='form-group'>
                {{ form.title.label(class_= 'formLabel') }}

                {% if form.title.errors %}
                    {{ form.title(class_='formError') }}
                    <div class ='invalid-feedback'>
                        {% for error in form.title.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class_='formContent') }}
                {% endif %}
            </div>

            <div class='form-group'>
                {{ form.content.label(class_='formLabel') }}

                {% if form.content.errors %}
                    {{ form.content(class_="formError") }}
                    <div class ='invalid-feedback'>
                        {% for error in form.content.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                    </div>
                {% else %}
                {{ form.content(class_='formContent') }}
                {% endif %}
            </div>
            

        </fieldset>
        <div class='form-group'>
            {{ form.submit(class_="submitButton") }}
        </div>
    </form>
    
{% endblock %}