{% extends 'base.html' %}

{% block body %}
<div class="'jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"> Welcome {{ current_user.username }}, you are now logged in!</h1>

        <h2 class="article-title"> Here are your current open tasks:</h2>
        {% for task in task_list %}
        <ul class="'list-group">
            <li class="list-group-item"><a class="link-secondary" href="{{ url_for('post', post_id=task.id) }}">{{ task.title }}</a></li>
        </ul>
        {% endfor %}
</div>
</div>
{% endblock %}