{% extends 'base.html' %}

{% block body %}
<div class="content-section" >
    <form method="POST" action="">
        {{ form.csrf_token() }}
        <fieldset class="form-group">
            <legend class="bored-bottom mb-4">Reset Password</legend>

            <div class='form-group'>
               {{ form.email.label(class="form-control-label") }} 

                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }} 
                    <div class ='invalid-feedback'>
                        {% for error in form.email.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }} 
                {% endif %}
            </div>

        </fieldset>
        <div class='form-group'>
            {{ form.submit(class="btn btn-success mt-2") }} 
        </div>
    
    </form>
    <small class="text-muted"> New here? Click to <a href="{{ url_for('register') }}"> Sign Up!</a></small>
</div>

{% endblock %}